# Set the default behavior for all files.
* text=auto eol=lf

# Normalized and converts to native line endings on checkout.
*.c text
*.cc text
*.cxx
*.cpp text
*.h text
*.hxx text
*.hpp text

# Declare files that are truly binary and should not be modified.
*.hpp linguist-language=C++
*.cpp linguist-language=C++
